@import "overrides"; // Override third-party styles (i.e. Bootstrap).
@import "node_modules/font-awesome/scss/font-awesome";
@import "node_modules/open-sans-fontface/sass/open-sans";
@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_theme";
@import "footer";

html, body, #react, .app {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;

  .content {
    flex: 1;
    margin-top: $navbar-height + 20px; // For Bootstrap's fixed navbar.
    margin-bottom: 20px; // For the footer.
  }
}
